body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("./Images/girlBackground.gif");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg1 {
    /* The image used */
    background-image: url("./Images/girlBackground.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .buttonL {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 20px 5px;
    color: black;
    background-color: #c1daf8;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 500px;
  }
  
  .buttonL:hover {
    background-color: #402247;
    color: white;
  }

  .buttonR {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 20px 5px;
    color: black;
    background-color: #c1daf8;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 850px;
  }
  
  .buttonR:hover {
    background-color: #402247;
    color: white;
  }








  Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink;  
  }  
    button {   
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 10px;
        color: black;
        background-color: #c1daf8;
        text-align: center;
        cursor: pointer; 
  
           }   

    button:hover {
            background-color: #402247;
            color: white;
          }
   form {   
          border: 10px solid #f1f1f1;   
          position: absolute;
          top: 200px;
          left: 200px;
      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid rgb(0, 0, 0);   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;  
      }   
          
       
   .container {   
          padding: 15px;   
          width: 300px;
          height: 600px;

           
      }   