
body, html {
    height: 100%;
    margin: 0;


  }

  .bg1 {
    /* The image used */
    background-image: url("./Images/jisung1.gif");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .buttonM {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 15px 0px;
    font-family: 'Showcard Gothic';
    font-size: 20px;
    color: white;
    background-color: #402247;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 500px;
  }
  
  .buttonM:hover {
    background-color: #CBA0BB;
    color: black;
  }

 Body {  
    font-family: 'Agency FB';  
    font-size: 30px;

  }  




          #click
          {
            display:none;
          }
         







   form {   
          border: 10px solid #DCCDDD;   
          position: absolute;
          top: 200px;
          left: 600px;
      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 15px 30px;   
          display: inline-block;   
          border: 2px solid rgb(0, 0, 0);   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;  
      }   
          
       
   .container_{   
          padding: 30px;   
          width:500px;
          height: 500px;
          background-color: #E0EAF4;

           
      }   




      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 10px;
      }
      .tableCon {
        position: absolute;
        top: 150px;
        left: 800px;
        font-size: 20px;
        width: 20%;   
        margin: 8px 0;  
        padding: 15px 20px;   
        background-color: #E0EAF4;
        border: 5px solid #DCCDDD;   
        box-sizing: border-box;  
      }
      

      .chatCon {
        position: absolute;
        top: 50px;
        left: 1100px;
        font-size: 30px;
        width: 30%;   
        margin: 8px 0;  
        padding: 10px 10px;   
        background-color: #E0EAF4;
        border: 5px solid #DCCDDD; 
        box-sizing: border-box;  
      }
    
      .avatarCon {
        position: absolute;
        top: 300px;
        left: 100px;
      
    
      }
      

      /* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}